.app {
    height: 100vh;
    width: 100vw;
    align-items: center;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    background-color: navajowhite;
}

.container {
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.count {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 200px;
}

.h1 {
    font-size: 6rem;

}
.h1_wrong {
    color: red;
}
.main_text{
    font-size: 20px;
    display: flex;

    justify-content: center;
}

.buttons_container {
    width: 80%;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button-inc {
    width: 140px;
    font-size: 16px;
    background-color: green;
    border-radius: 8%;
    padding: 20px;
}

.button-res {

    background-color: red;


}




